*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.button-group 
{
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  perspective: 10px;
  transform-style: preserve-3d;
  
}

.button-group > button
{
    border: none;
    padding: 10px;
    cursor: pointer;
    
}

.scale-button {
    
    border-radius: 5px;
    transition-property: transform;
    transition-duration: 100ms;
    transition-timing-function: ease-in;
    transition-delay: 100ms;
    background-color: oklch(70% 0.1258 235.06);
    color: white;
}

.scale-button:hover 
{
   transform: scale(1.2);
}

.color-change-button 
{

    transition-duration: 100ms;
    transition-property: background-color;
    transition-timing-function: ease-in;
    transition-delay: 150ms;
    background-color: oklch(70% 0.1973 26.47);
    color: white;
    border-radius: 7px;
    

}

.color-change-button:hover 
{
    background-color: oklch(67.65% 0.1875 240.35);
}

.rotate-button {

    transition: transform 0.3s ease-in-out;
    transition-delay: 100ms;
    transform: rotate(180deg);
    
}

.rotate-button:hover{

    transform: rotate(0deg);

}

.d-button {
  transform: translateZ(-4%);
  transition: transform 0.3s ease-in-out 0.4s;
}

.d-button:hover {
    transform: translateZ(100%);
}